.route-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: 230px;
  padding: 10px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  margin-bottom: 20px;
}

.distance {
  margin: 25px 0;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  text-align: end;
  grid-column-gap: 20px;
}

.table {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.align-end {
  text-align: end;
}

.elevationBonus {
  color: green;
}

.elevationPenalty {
  color: red;
}

h3 {
  margin: 0 0 10px 0;
}
