<div>
  <md-input-container class="flex-item" fxFlex>
    <input mdInput placeholder="Add a destination..." #address [ngModel]="location"  (ngModelChange)="updateValue($event)" (keyup)="getSuggestions(address.value)"
           [mdAutocomplete]="locationAutocomplete">
  </md-input-container>

  <md-autocomplete #locationAutocomplete [displayWith]="displayLocation">
    <md-option *ngFor="let locationSugg of suggestions | async" [value]="locationSugg">
      {{ locationSugg.name }}
    </md-option>
  </md-autocomplete>
</div>
