.centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.huge {
  font-size: 200px;
  height: inherit;
  width: inherit;
}

.wrap {
  text-wrap: normal;
  max-width: 800px;
}
