<br><br>
<div class="flex-container" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="flex-item" fxFlex="80%">
    <div class="flex-container" fxLayoutAlign="center center">
      <h1 class="flex-item">Destinations</h1>
    </div>
    <md-card style="min-width: 350px" [style.xs]="{'min-width': 0, 'max-width.px': 300}">
      <md-card-subtitle>
        <tsp-destinations-selector class="flex-item" fxFlex [suggestions]="suggestions"
                                   (locationUpdate)="addLocation($event)"
                                   (searchTerm)="getSuggestions($event)"></tsp-destinations-selector>
      </md-card-subtitle>
      <md-card-content>
        <div class="flex-container" fxLayout="column" fxLayoutAlign="center center" *ngIf="locations.length == 0">
          <md-icon>location_off</md-icon>
          <p>no destinations</p>
        </div>
        <md-list>
          <md-list-item *ngFor="let location of locations">
            <span md-line>{{ location }}</span>
            <button md-icon-button (click)="removeLocation(location)" mdTooltip="Remove destination"
                    mdTooltipShowDelay="300">
              <md-icon>delete</md-icon>
            </button>
          </md-list-item>
        </md-list>
      </md-card-content>
      <md-card-actions align="center">
        <button md-button (click)="getSampleDestinations()" mdTooltip="Add sample locations"
                mdTooltipShowDelay="300">
          <md-icon>add_location</md-icon>
          Samples
        </button>
        <button md-button (click)="clearDestinations()" mdTooltip="Remove all destinations"
                mdTooltipShowDelay="300">
          <md-icon>clear_all</md-icon>
          Clear
        </button>
      </md-card-actions>
    </md-card>
  </div>
</div>
