<div class="route-buttons" *ngIf="roundTripNN$">
  <mat-button-toggle-group [vertical]="isXSLayout"
                           [(ngModel)]="roundTrip$">
    <mat-button-toggle [value]="roundTripFN$" [disabled]="!(roundTripFN$ | async)">
      Farthest Neighbor
    </mat-button-toggle>
    <mat-button-toggle [value]="roundTripNN$" [disabled]="!(roundTripNN$ | async)">
      Nearest Neighbor
    </mat-button-toggle>
    <mat-button-toggle [value]="roundTripMST$" [disabled]="!(roundTripMST$ | async)">
      MST
    </mat-button-toggle>
    <mat-button-toggle [value]="roundTripBrute$" [disabled]="!(roundTripBrute$ | async)">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <span>Bruteforce</span>
        <mat-spinner *ngIf="!(roundTripBrute$ | async)" [diameter]="20"></mat-spinner>
      </div>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div *ngIf="!roundTrip$" class="no-algorithm-selected">
  <mat-icon class="huge">local_shipping</mat-icon>
  <span>Choose one of the algorithms to calculate a round trip.</span>
</div>

<tsp-route-result *ngIf="roundTrip$" [roundTrip]="roundTrip$ | async" [destinations]="destinations"></tsp-route-result>
