<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <tsp-navigation [layout]="'column'" (pageChosen)="sidenav.close()"></tsp-navigation>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" fxShow.xs fxHide>
      <mat-icon>menu</mat-icon>
    </button>
    <p fxShow.xs fxHide>Routrill</p>
    <tsp-navigation [layout]="'row'" fxShow fxHide.xs></tsp-navigation>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>
