<mat-icon>search</mat-icon>
<mat-form-field>
  <input matInput placeholder="Add a destination..." #address
         (keyup)="getSuggestions(address.value)"
         [matAutocomplete]="locationAutocomplete">
  <span matSuffix (click)="address.value = ''" *ngIf="address.value">
    <button class="clear" mat-icon-button><mat-icon>cancel</mat-icon></button>
  </span>
</mat-form-field>

<mat-autocomplete #locationAutocomplete
                  [displayWith]="displayLocation"
                  (optionSelected)="emitOptionSelected($event)">
  <mat-option *ngFor="let locationSuggestion of suggestions | async" [value]="locationSuggestion">
    {{ locationSuggestion?.name }}
  </mat-option>
</mat-autocomplete>
