<mat-icon>search</mat-icon>
<mat-form-field>
  <input matInput placeholder="Add a destination..." #address
         (keyup)="getSuggestions(address.value)"
         [matAutocomplete]="locationAutocomplete">
</mat-form-field>

<mat-autocomplete #locationAutocomplete
                  [displayWith]="displayLocation"
                  (optionSelected)="emitOptionSelected($event)">
  <mat-option *ngFor="let locationSuggestion of suggestions | async" [value]="locationSuggestion">
    {{ locationSuggestion?.name }}
  </mat-option>
</mat-autocomplete>
