<div class="flex-container" fxLayout="row" fxLayoutAlign="center center">
  <mat-icon class="flex-item">search</mat-icon>
  <div fxFlex="2"></div>
  <mat-form-field class="flex-item" fxFlex="100">
    <input matInput placeholder="Add a destination..." #address [ngModel]="location"  (ngModelChange)="updateValue($event)" (keyup)="getSuggestions(address.value)"
           [matAutocomplete]="locationAutocomplete">
  </mat-form-field>
  <div fxFlex="1"></div>


  <mat-autocomplete #locationAutocomplete [displayWith]="displayLocation">
    <mat-option *ngFor="let locationSugg of suggestions | async" [value]="locationSugg">
      {{ locationSugg?.name }}
    </mat-option>
  </mat-autocomplete>
</div>
