<div class="flex-container" [fxLayout]="layout" fxLayoutAlign="start start" fxLayoutGap.xs="20px">
  <div></div>
  <a mat-button routerLink="/home" (click)="pageChosen.emit()">
    <mat-icon>home</mat-icon>
    ROUTRILL
  </a>
  <a mat-button routerLink="/destinations" (click)="pageChosen.emit()">
    <mat-icon>edit_location</mat-icon>
    DESTINATIONS
  </a>
  <a mat-button routerLink="/route" (click)="pageChosen.emit()">
    <mat-icon>directions</mat-icon>
    ROUTE
  </a>
  <a mat-button routerLink="/about" (click)="pageChosen.emit()">
    <mat-icon>person</mat-icon>
    ABOUT
  </a>
</div>
