<br><br>
<div class="flex-container" fxLayoutAlign="center center">
<mat-card [style.xs]="{'max-width.%' : 80}" style="max-width : 600px">
  <p> Routrill was developed to participate in a competition hosted by <a href="https://it-talents.de">IT-Talents</a>. It
    implements the <a href="https://en.wikipedia.org/wiki/Travelling_salesman_problem">Traveling salesperson problem</a>
    using four heuristics and let's you compare the different solutions.</p>
  <p>It uses <a href="https://angular.io">Angular 2</a> for the framework and the
    <a href="https://developers.google.com/maps/documentation/distance-matrix/usage-limits">Google Maps Javascript APIs</a>
    for autocompletion, distance calculation and maps. Due to the limitations of their free api plan, only up to 10
    destinations can be entered.</p>

  <p>Visit me on <a href="https://twitter.com/kernkim">Twitter</a> or <a href="https://kimkern.de">kimkern.de</a>.</p>
</mat-card>
</div>
