<h1>About 👨‍💼️</h1>
<mat-card>
  <p> Routrill was developed to participate in a competition hosted by
    <a href="https://it-talents.de" target="_blank">IT-Talents</a>.
    It implements the
    <a href="https://en.wikipedia.org/wiki/Travelling_salesman_problem" target="_blank">
      Traveling salesperson problem</a>
    using four heuristics and let's you compare the different solutions.
    Additionally, the elevation between two destinations is shown and incorporated in the calculations.</p>
  <p>It is built with <a href="https://angular.io" target="_blank">Angular</a> and the
    <a href="https://developers.google.com/maps/documentation/distance-matrix/usage-limits" target="_blank">
      Google Maps Javascript APIs</a>
    for autocompletion, distance calculation, elevations and maps. Due to the limitations of their free api plan, only
    up to 10
    destinations can be entered.</p>
  <p>Visit me on <a href="https://twitter.com/kernkim" target="_blank">Twitter</a> or
    <a href="https://kimkern.de" target="_blank">kimkern.de</a>.
  </p>
</mat-card>
