<div class="flex-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="flex-item" fxFlex="40">
    <md-input-container>
      <input md-input placeholder="Address" #address (keyup)="getSuggestions(address.value)">
    </md-input-container>
  </div>
  <div class="flex-container" fxLayout="row" fxLayoutAlign="center center">
    <div class="flex-item" fxFlex>
      <button md-fab type="submit">
        <md-icon>done</md-icon>
      </button>
    </div>
  </div>
  {{ placeSearchStream | async }}
  <br>
  <p *ngFor="let sugg of suggestions | async">{{ sugg.name }}</p>
</div>
