<br><br>
<div class="flex-container" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="flex-item" fxFlex="80%">
    <h1 class="flex-item">Destinations</h1>
    <md-card style="min-width: 350px">
      <!--<md-card-title>Destinations</md-card-title>-->
      <md-card-subtitle>

          <app-address-selector class="flex-item" fxFlex (locationUpdate)="addLocation($event)"></app-address-selector>
      </md-card-subtitle>
      <md-card-content>
        <p *ngIf="locations.length == 0">No destinations...</p>
        <md-list>
          <md-list-item *ngFor="let location of locations">
            <span md-line>{{ location?.name }}</span>
            <button md-icon-button (click)="removeLocation(location)" mdTooltip="Remove destination"
                    mdTooltipShowDelay="300">
              <md-icon>delete</md-icon>
            </button>
          </md-list-item>
        </md-list>
      </md-card-content>
      <md-card-actions>
        <!--<button md-icon-button (click)="addEmptyLocation()" mdTooltip="Add destination" mdTooltipShowDelay="300">-->
          <!--<md-icon>add_location</md-icon>-->
        <!--</button>-->
        <button md-icon-button (click)="clearDestinations()" mdTooltip="Remove all destinations"
                mdTooltipShowDelay="300">
          <md-icon>clear_all</md-icon>
        </button>
      </md-card-actions>
    </md-card>
  </div>
</div>
{{ locations | json }}
{{ distance | async }}
