<br><br>
<div class="flex-container" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="flex-container" fxLayout="row" fxLayoutAlign="space-around center">
    <md-icon class="huge">place</md-icon>
    <div class="wrap">
      <h1>Hello, fellow traveller!</h1>
      <p>Routrill lets you find the best round trip for up to
        10 destinations. Just head to <a routerLink="/destinations">destinations</a>
        and then checkout your <a routerLink="/route">route</a>.</p>
      <p>If you're just curious and you want a first impression, try the sample locations.</p>
    </div>
    <div fxFlex="20"></div>
  </div>
</div>
